.movie-card {
  display: flex;
  border-radius: 0;
  width: 100%;
  gap: 16px;
}

.poster {
  width: 185px;
}

.ant-card-body {
  padding: 0 !important;
}

/* .wrapper:global:ant-card-body {
  padding: 0;
} */
