@font-face {
  font-family: 'Inter UI';
  src: url(./fonts/Inter-UI/Inter-UI-Regular.otf);
  font-weight: normal;
}

@font-face {
  font-family: 'Inter UI';
  src: url(./fonts/Inter-UI/Inter-UI-Medium.otf);
  font-weight: 500;
}

@font-face {
  font-family: 'Inter UI';
  src: url(./fonts/Inter-UI/Inter-UI-Bold.otf);
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  font-family:
    Inter UI,
    Arial,
    Helvetica,
    sans-serif;
}

body {
  background-color: #f0efef;
}

.ant-alert {
  position: fixed !important;
  bottom: 20px !important;
  right: 20px !important;
  width: 200px !important;
}

.app-wrapper {
  max-width: 1060px;
  margin: 0 auto;
  padding: 30px;
  background-color: #fff;
}

@media (max-width: 768px) {
  .app-wrapper {
    padding: 16px;
  }
}
