* {
  margin: 0;
  padding: 0;
  font-family:
    Inter UI,
    Arial,
    Helvetica,
    sans-serif;
}

body {
  background-color: #f0efef;
}

.ant-alert {
  position: fixed !important;
  bottom: 20px !important;
  right: 20px !important;
  width: 200px !important;
}
